{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<div class="container">

    <div class="d-flex">
        <div class="mr-auto p-2">
            <h1>Mon compte</h1>
        </div>
        <div class="p-2">
            <a class="btn btn-primary" href="#" role="button">Modifier</a>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
        <caption>Informations contenues dans mon profile.</caption>
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    <i class="fa fa-circle" aria-hidden="true"></i>
                    </td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.email }}</td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
